<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.vmitchell85.alForge</string>
	<key>connections</key>
	<dict>
		<key>031E2908-466C-4B92-BBE5-EA652D78D96D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B9CBA9DA-83D3-4BA3-9E5F-2DED5BA6AA4B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>098AA9F9-0B22-4AD8-BA5F-9B6623C401CE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0BA6B044-E4A5-4D91-BE95-29684D1E8535</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0BA6B044-E4A5-4D91-BE95-29684D1E8535</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B9CBA9DA-83D3-4BA3-9E5F-2DED5BA6AA4B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>56F8FBF9-A577-4764-9D1F-A406E514B0AF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B9CBA9DA-83D3-4BA3-9E5F-2DED5BA6AA4B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6514E3EF-7AFF-49B1-B71B-3CD234A2FFC5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B9CBA9DA-83D3-4BA3-9E5F-2DED5BA6AA4B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>70ECD1E1-3183-4CC6-AAE7-DA6E1E21DE87</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6514E3EF-7AFF-49B1-B71B-3CD234A2FFC5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7DD3BDE5-A157-42E5-9376-F681FB50A4EE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A1C53C44-B1B2-4562-B519-0A3269F89BB3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>89DE4450-CEC9-45C0-B10D-2CFE15E85A21</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>56F8FBF9-A577-4764-9D1F-A406E514B0AF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8AFEBE96-B1B2-4523-AFE0-2BBF7B3DBEB3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B9CBA9DA-83D3-4BA3-9E5F-2DED5BA6AA4B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A1C53C44-B1B2-4562-B519-0A3269F89BB3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CD96DC77-C0A6-4DD0-82DB-B7C5FD88028A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C70E944D-350B-438D-89CE-3E3D7EB83A77</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8AFEBE96-B1B2-4523-AFE0-2BBF7B3DBEB3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CD96DC77-C0A6-4DD0-82DB-B7C5FD88028A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5B97BF4E-6FA3-4BF7-9AB1-69B4BA2E4434</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EF4A1D93-0687-4738-8A81-46C91DFF2DDF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>031E2908-466C-4B92-BBE5-EA652D78D96D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Vince Mitchell</string>
	<key>description</key>
	<string>Alfred Forge API</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>alForge</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>100</integer>
				<key>keyword</key>
				<string>forge open</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>require 'vendor/autoload.php';
require 'Open.php';

$open = new Open();

return $open-&gt;search("{query}");</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Type a site or server to open the page in Forge</string>
				<key>title</key>
				<string>Open Forge Page</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7DD3BDE5-A157-42E5-9376-F681FB50A4EE</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>100</integer>
				<key>script</key>
				<string>require 'vendor/autoload.php';
require 'Open.php';
$open = new Open();
$open-&gt;execute("{query}");</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A1C53C44-B1B2-4562-B519-0A3269F89BB3</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>5B97BF4E-6FA3-4BF7-9AB1-69B4BA2E4434</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>CD96DC77-C0A6-4DD0-82DB-B7C5FD88028A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>100</integer>
				<key>script</key>
				<string>require 'vendor/autoload.php';
require 'Deploy.php';
$deploy = new Deploy();
$deploy-&gt;execute("{query}");</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6514E3EF-7AFF-49B1-B71B-3CD234A2FFC5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>100</integer>
				<key>keyword</key>
				<string>forge deploy</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>require 'vendor/autoload.php';
require 'Deploy.php';

$deploy = new Deploy();

return $deploy-&gt;search("{query}");</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Type a site to deploy now</string>
				<key>title</key>
				<string>Deploy Site</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>70ECD1E1-3183-4CC6-AAE7-DA6E1E21DE87</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>100</integer>
				<key>script</key>
				<string>require 'vendor/autoload.php';
require 'Reboot.php';
$reboot = new Reboot();
$reboot-&gt;execute("{query}");</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>031E2908-466C-4B92-BBE5-EA652D78D96D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>100</integer>
				<key>keyword</key>
				<string>forge reboot</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>require 'vendor/autoload.php';
require 'Reboot.php';

$reboot = new Reboot();

return $reboot-&gt;search("{query}");</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Choose a server to reboot</string>
				<key>title</key>
				<string>Reboot Server</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>EF4A1D93-0687-4738-8A81-46C91DFF2DDF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>forge reload</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Reload Forge Cache</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C70E944D-350B-438D-89CE-3E3D7EB83A77</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>100</integer>
				<key>script</key>
				<string>require 'Forge.php';

$forge = new Forge();

$forge-&gt;loadCache(True);</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8AFEBE96-B1B2-4523-AFE0-2BBF7B3DBEB3</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>forge key</string>
				<key>subtext</key>
				<string>Paste your key after 'forge-key'</string>
				<key>text</key>
				<string>Set Forge API Key</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>89DE4450-CEC9-45C0-B10D-2CFE15E85A21</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>AlForge</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>B9CBA9DA-83D3-4BA3-9E5F-2DED5BA6AA4B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>100</integer>
				<key>script</key>
				<string>require 'Forge.php';

$forge = new Forge();

$forge-&gt;setKey("{query}");</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>56F8FBF9-A577-4764-9D1F-A406E514B0AF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>forge clear</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Clear All AlForge Data</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>098AA9F9-0B22-4AD8-BA5F-9B6623C401CE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>100</integer>
				<key>script</key>
				<string>require 'Forge.php';

$forge = new Forge();

$forge-&gt;clearData();</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0BA6B044-E4A5-4D91-BE95-29684D1E8535</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>031E2908-466C-4B92-BBE5-EA652D78D96D</key>
		<dict>
			<key>xpos</key>
			<integer>290</integer>
			<key>ypos</key>
			<integer>330</integer>
		</dict>
		<key>098AA9F9-0B22-4AD8-BA5F-9B6623C401CE</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>750</integer>
		</dict>
		<key>0BA6B044-E4A5-4D91-BE95-29684D1E8535</key>
		<dict>
			<key>xpos</key>
			<integer>290</integer>
			<key>ypos</key>
			<integer>750</integer>
		</dict>
		<key>56F8FBF9-A577-4764-9D1F-A406E514B0AF</key>
		<dict>
			<key>xpos</key>
			<integer>290</integer>
			<key>ypos</key>
			<integer>610</integer>
		</dict>
		<key>5B97BF4E-6FA3-4BF7-9AB1-69B4BA2E4434</key>
		<dict>
			<key>xpos</key>
			<integer>550</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
		<key>6514E3EF-7AFF-49B1-B71B-3CD234A2FFC5</key>
		<dict>
			<key>xpos</key>
			<integer>290</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>70ECD1E1-3183-4CC6-AAE7-DA6E1E21DE87</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>7DD3BDE5-A157-42E5-9376-F681FB50A4EE</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
		<key>89DE4450-CEC9-45C0-B10D-2CFE15E85A21</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>610</integer>
		</dict>
		<key>8AFEBE96-B1B2-4523-AFE0-2BBF7B3DBEB3</key>
		<dict>
			<key>xpos</key>
			<integer>290</integer>
			<key>ypos</key>
			<integer>470</integer>
		</dict>
		<key>A1C53C44-B1B2-4562-B519-0A3269F89BB3</key>
		<dict>
			<key>xpos</key>
			<integer>290</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
		<key>B9CBA9DA-83D3-4BA3-9E5F-2DED5BA6AA4B</key>
		<dict>
			<key>xpos</key>
			<integer>740</integer>
			<key>ypos</key>
			<integer>610</integer>
		</dict>
		<key>C70E944D-350B-438D-89CE-3E3D7EB83A77</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>470</integer>
		</dict>
		<key>CD96DC77-C0A6-4DD0-82DB-B7C5FD88028A</key>
		<dict>
			<key>xpos</key>
			<integer>460</integer>
			<key>ypos</key>
			<integer>100</integer>
		</dict>
		<key>EF4A1D93-0687-4738-8A81-46C91DFF2DDF</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>330</integer>
		</dict>
	</dict>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string>https://github.com/vmitchell85/alforge</string>
</dict>
</plist>
