<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.vmitchell85.alForge</string>
	<key>connections</key>
	<dict>
		<key>031E2908-466C-4B92-BBE5-EA652D78D96D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B9CBA9DA-83D3-4BA3-9E5F-2DED5BA6AA4B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>098AA9F9-0B22-4AD8-BA5F-9B6623C401CE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0BA6B044-E4A5-4D91-BE95-29684D1E8535</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0BA6B044-E4A5-4D91-BE95-29684D1E8535</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B9CBA9DA-83D3-4BA3-9E5F-2DED5BA6AA4B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>162115A3-5221-48EB-8DDD-F8DF0DC1B286</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FEC20C12-3ED7-4CF1-B79C-3799519F8520</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3C69138A-E5D1-4DF5-A31D-B883862223DB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>58C88819-EA1B-4C18-8827-45EB0D719C20</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4101CA88-4BAB-4C4B-8B87-527691E5261F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B9CBA9DA-83D3-4BA3-9E5F-2DED5BA6AA4B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4836C40E-B8E8-480C-8C8D-B3D11A8D7F87</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B9CBA9DA-83D3-4BA3-9E5F-2DED5BA6AA4B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4EED1DE4-CF6B-47CC-A636-3E5F96FAC89E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>88F88237-F968-4E03-841A-25412848B257</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4F506BA7-CF9A-411F-BB46-0309C183269D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D09171DB-843B-4730-B2F5-05A994B643BB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>56F8FBF9-A577-4764-9D1F-A406E514B0AF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B9CBA9DA-83D3-4BA3-9E5F-2DED5BA6AA4B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6514E3EF-7AFF-49B1-B71B-3CD234A2FFC5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B9CBA9DA-83D3-4BA3-9E5F-2DED5BA6AA4B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>70ECD1E1-3183-4CC6-AAE7-DA6E1E21DE87</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6514E3EF-7AFF-49B1-B71B-3CD234A2FFC5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7CD1813F-FDCF-4F8A-B25E-3BE6180230A3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C701C43E-3BB9-42F8-9680-9005CEB8DBDA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7DD3BDE5-A157-42E5-9376-F681FB50A4EE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A1C53C44-B1B2-4562-B519-0A3269F89BB3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>89DE4450-CEC9-45C0-B10D-2CFE15E85A21</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>56F8FBF9-A577-4764-9D1F-A406E514B0AF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8AFEBE96-B1B2-4523-AFE0-2BBF7B3DBEB3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B9CBA9DA-83D3-4BA3-9E5F-2DED5BA6AA4B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A1C53C44-B1B2-4562-B519-0A3269F89BB3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CD96DC77-C0A6-4DD0-82DB-B7C5FD88028A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AC554D51-F77A-4E4B-8440-0AF22B694539</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4836C40E-B8E8-480C-8C8D-B3D11A8D7F87</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AF915663-530F-4A49-ABD8-3649E9DA17BA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0CA4A9B1-B7D5-4B14-AC1A-36E7BE1B7571</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B967E23E-9946-49E5-AB48-A76D78DD08B4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>91C708CB-85F6-493A-B8AB-BF52D3F5E893</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C701C43E-3BB9-42F8-9680-9005CEB8DBDA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4EED1DE4-CF6B-47CC-A636-3E5F96FAC89E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C70E944D-350B-438D-89CE-3E3D7EB83A77</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8AFEBE96-B1B2-4523-AFE0-2BBF7B3DBEB3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CD96DC77-C0A6-4DD0-82DB-B7C5FD88028A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5B97BF4E-6FA3-4BF7-9AB1-69B4BA2E4434</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CDB8C1D9-4AD9-4B73-8B72-4497D3CAB5F1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4101CA88-4BAB-4C4B-8B87-527691E5261F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D09171DB-843B-4730-B2F5-05A994B643BB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B9CBA9DA-83D3-4BA3-9E5F-2DED5BA6AA4B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EF4A1D93-0687-4738-8A81-46C91DFF2DDF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>031E2908-466C-4B92-BBE5-EA652D78D96D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F0754C94-B143-4994-9ABA-FC8C5C237AED</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FF3CC7D9-1E4F-4F2D-80DA-6B70EC23DF63</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FDB07C25-C80A-4347-BA2C-E20BA1BC9BCB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3C69138A-E5D1-4DF5-A31D-B883862223DB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FEC20C12-3ED7-4CF1-B79C-3799519F8520</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B967E23E-9946-49E5-AB48-A76D78DD08B4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FF3CC7D9-1E4F-4F2D-80DA-6B70EC23DF63</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>586CD727-A559-4C6D-99A0-E11F09AF8B08</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Vince Mitchell</string>
	<key>description</key>
	<string>Alfred Forge API</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>AlForge</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>AlForge Error</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>0CA4A9B1-B7D5-4B14-AC1A-36E7BE1B7571</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>100</integer>
				<key>script</key>
				<string>require 'vendor/autoload.php';
use AlForge\Deploy;

$deploy = new Deploy();
$deploy-&gt;execute("{query}");</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6514E3EF-7AFF-49B1-B71B-3CD234A2FFC5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>100</integer>
				<key>keyword</key>
				<string>forge deploy</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>require 'vendor/autoload.php';
use AlForge\Deploy;

$deploy = new Deploy();

return $deploy-&gt;search("{query}");</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Deploys the selected site now</string>
				<key>title</key>
				<string>Deploy Site</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>70ECD1E1-3183-4CC6-AAE7-DA6E1E21DE87</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>push</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>AF915663-530F-4A49-ABD8-3649E9DA17BA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>5B97BF4E-6FA3-4BF7-9AB1-69B4BA2E4434</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>100</integer>
				<key>keyword</key>
				<string>forge open</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>require 'vendor/autoload.php';

use AlForge\Open;

$open = new Open();

return $open-&gt;search("{query}");</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Open the selected site or server in the default browser</string>
				<key>title</key>
				<string>Open In Browser</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7DD3BDE5-A157-42E5-9376-F681FB50A4EE</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>100</integer>
				<key>script</key>
				<string>require 'vendor/autoload.php';
use AlForge\Open;
$open = new Open();
$open-&gt;execute("{query}");</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A1C53C44-B1B2-4562-B519-0A3269F89BB3</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>CD96DC77-C0A6-4DD0-82DB-B7C5FD88028A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>100</integer>
				<key>keyword</key>
				<string>forge reboot</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>require 'vendor/autoload.php';
use AlForge\Reboot;

$reboot = new Reboot();

return $reboot-&gt;search("{query}");</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Reboots the selected server now</string>
				<key>title</key>
				<string>Reboot Server</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>EF4A1D93-0687-4738-8A81-46C91DFF2DDF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>100</integer>
				<key>script</key>
				<string>require 'vendor/autoload.php';
use AlForge\Reboot;

$reboot = new Reboot();
$reboot-&gt;execute("{query}");</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>031E2908-466C-4B92-BBE5-EA652D78D96D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>100</integer>
				<key>script</key>
				<string>require 'vendor/autoload.php';
use AlForge\Term;

$t = new Term();
$t-&gt;execute("{query}");</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3C69138A-E5D1-4DF5-A31D-B883862223DB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>if application "iTerm" is running then	tell application "iTerm"		set newWindow to (create window with default profile)		tell newWindow			tell current tab				tell current session					write text "ssh forge@{query}"				end tell			end tell		end tell	end tellelse	tell application "iTerm"		tell current window			tell current tab				tell current session					write text "ssh forge@{query}"				end tell			end tell		end tell	end tellend if</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>58C88819-EA1B-4C18-8827-45EB0D719C20</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>100</integer>
				<key>keyword</key>
				<string>forge iterm</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>require 'vendor/autoload.php';
use AlForge\Term;

$t = new Term();

return $t-&gt;search("{query}");</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Open iTerm to the selected server</string>
				<key>title</key>
				<string>Open iTerm</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>FDB07C25-C80A-4347-BA2C-E20BA1BC9BCB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>100</integer>
				<key>script</key>
				<string>require 'vendor/autoload.php';
use AlForge\Forge;

$forge = new Forge();

$forge-&gt;loadCache();</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8AFEBE96-B1B2-4523-AFE0-2BBF7B3DBEB3</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>forge reload</string>
				<key>subtext</key>
				<string>Fetches new data from the Forge API</string>
				<key>text</key>
				<string>Reload Server &amp; Site Cache</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C70E944D-350B-438D-89CE-3E3D7EB83A77</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>if application "Terminal" is running then	tell application "Terminal"		activate		do script "ssh forge@{query}"	end tellelse	tell application "Terminal"		activate		if (exists window 1) and not busy of window 1 then			do script "ssh forge@{query}" in window 1		else			do script "ssh forge@{query}"		end if	end tellend if</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>586CD727-A559-4C6D-99A0-E11F09AF8B08</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>100</integer>
				<key>script</key>
				<string>require 'vendor/autoload.php';
use AlForge\Term;

$t = new Term();
$t-&gt;execute("{query}");</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FF3CC7D9-1E4F-4F2D-80DA-6B70EC23DF63</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>100</integer>
				<key>keyword</key>
				<string>forge term</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>require 'vendor/autoload.php';
use AlForge\Term;

$t = new Term();

return $t-&gt;search("{query}");</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Open Terminal to the selected server</string>
				<key>title</key>
				<string>Open Terminal</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>F0754C94-B143-4994-9ABA-FC8C5C237AED</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>100</integer>
				<key>script</key>
				<string>require "vendor/autoload.php";
use AlForge\Forge;

$forge = new Forge();

$forge-&gt;setKey("{query}");</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>56F8FBF9-A577-4764-9D1F-A406E514B0AF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>forge key</string>
				<key>subtext</key>
				<string>Sets the API key - `forge key [API KEY]`</string>
				<key>text</key>
				<string>Set API Key</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>89DE4450-CEC9-45C0-B10D-2CFE15E85A21</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>B967E23E-9946-49E5-AB48-A76D78DD08B4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>ip address copied to clipboard</string>
				<key>title</key>
				<string>Alforge</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>91C708CB-85F6-493A-B8AB-BF52D3F5E893</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>100</integer>
				<key>script</key>
				<string>require 'vendor/autoload.php';
use AlForge\IpAddress;

$ipa = new IpAddress();
$ipa-&gt;execute("{query}");</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FEC20C12-3ED7-4CF1-B79C-3799519F8520</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>100</integer>
				<key>keyword</key>
				<string>forge ip</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>require 'vendor/autoload.php';
use AlForge\IpAddress;

$ipa = new IpAddress();

return $ipa-&gt;search("{query}");</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Copy Forge IP of selected server to clipboard</string>
				<key>title</key>
				<string>Copy Forge IP</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>162115A3-5221-48EB-8DDD-F8DF0DC1B286</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>{var:push_title}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>B9CBA9DA-83D3-4BA3-9E5F-2DED5BA6AA4B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>100</integer>
				<key>script</key>
				<string>require "vendor/autoload.php";
use AlForge\Forge;

$forge = new Forge();

$forge-&gt;clearData();</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0BA6B044-E4A5-4D91-BE95-29684D1E8535</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>forge clear</string>
				<key>subtext</key>
				<string>Removes all Server, Site,  &amp; API Key data</string>
				<key>text</key>
				<string>Clear Data</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>098AA9F9-0B22-4AD8-BA5F-9B6623C401CE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>4EED1DE4-CF6B-47CC-A636-3E5F96FAC89E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>.env file copied to clipboard</string>
				<key>title</key>
				<string>Alforge</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>88F88237-F968-4E03-841A-25412848B257</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>100</integer>
				<key>keyword</key>
				<string>forge env</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>require 'vendor/autoload.php';
use AlForge\Env;

$env = new Env();

return $env-&gt;search("{query}");</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Copy ENV file of selected site to clipboard</string>
				<key>title</key>
				<string>Copy Site ENV</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7CD1813F-FDCF-4F8A-B25E-3BE6180230A3</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>100</integer>
				<key>script</key>
				<string>require 'vendor/autoload.php';
use AlForge\Env;

$env = new Env();
$env-&gt;execute("{query}");</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C701C43E-3BB9-42F8-9680-9005CEB8DBDA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>100</integer>
				<key>keyword</key>
				<string>forge mysql</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>require 'vendor/autoload.php';
use AlForge\Mysql;

$mysql = new Mysql();

return $mysql-&gt;search("{query}");</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Restarts MySQL on the selected server now</string>
				<key>title</key>
				<string>Restart MySQL</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>AC554D51-F77A-4E4B-8440-0AF22B694539</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>100</integer>
				<key>script</key>
				<string>require 'vendor/autoload.php';
use AlForge\Mysql;

$mysql = new Mysql();
$mysql-&gt;execute("{query}");</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4836C40E-B8E8-480C-8C8D-B3D11A8D7F87</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>100</integer>
				<key>keyword</key>
				<string>forge postgres</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>require 'vendor/autoload.php';
use AlForge\Postgres;

$pg = new Postgres();

return $pg-&gt;search("{query}");</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Restarts Postgres on the selected server now</string>
				<key>title</key>
				<string>Restart Postgres</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>4F506BA7-CF9A-411F-BB46-0309C183269D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>100</integer>
				<key>script</key>
				<string>require 'vendor/autoload.php';
use AlForge\Postgres;

$pg = new Postgres();
$pg-&gt;execute("{query}");</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D09171DB-843B-4730-B2F5-05A994B643BB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>100</integer>
				<key>keyword</key>
				<string>forge nginx</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>require 'vendor/autoload.php';
use AlForge\Nginx;

$ngx = new Nginx();

return $ngx-&gt;search("{query}");</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Restarts Nginx on the selected server now</string>
				<key>title</key>
				<string>Restart Nginx</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>CDB8C1D9-4AD9-4B73-8B72-4497D3CAB5F1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>100</integer>
				<key>script</key>
				<string>require 'vendor/autoload.php';
use AlForge\Nginx;

$ngx = new Nginx();
$ngx-&gt;execute("{query}");</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4101CA88-4BAB-4C4B-8B87-527691E5261F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>031E2908-466C-4B92-BBE5-EA652D78D96D</key>
		<dict>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>098AA9F9-0B22-4AD8-BA5F-9B6623C401CE</key>
		<dict>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>500</integer>
		</dict>
		<key>0BA6B044-E4A5-4D91-BE95-29684D1E8535</key>
		<dict>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>500</integer>
		</dict>
		<key>0CA4A9B1-B7D5-4B14-AC1A-36E7BE1B7571</key>
		<dict>
			<key>xpos</key>
			<integer>590</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>162115A3-5221-48EB-8DDD-F8DF0DC1B286</key>
		<dict>
			<key>xpos</key>
			<integer>730</integer>
			<key>ypos</key>
			<integer>410</integer>
		</dict>
		<key>3C69138A-E5D1-4DF5-A31D-B883862223DB</key>
		<dict>
			<key>xpos</key>
			<integer>950</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>4101CA88-4BAB-4C4B-8B87-527691E5261F</key>
		<dict>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>860</integer>
		</dict>
		<key>4836C40E-B8E8-480C-8C8D-B3D11A8D7F87</key>
		<dict>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>620</integer>
		</dict>
		<key>4EED1DE4-CF6B-47CC-A636-3E5F96FAC89E</key>
		<dict>
			<key>xpos</key>
			<integer>1070</integer>
			<key>ypos</key>
			<integer>530</integer>
		</dict>
		<key>4F506BA7-CF9A-411F-BB46-0309C183269D</key>
		<dict>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>740</integer>
		</dict>
		<key>56F8FBF9-A577-4764-9D1F-A406E514B0AF</key>
		<dict>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>380</integer>
		</dict>
		<key>586CD727-A559-4C6D-99A0-E11F09AF8B08</key>
		<dict>
			<key>xpos</key>
			<integer>1190</integer>
			<key>ypos</key>
			<integer>280</integer>
		</dict>
		<key>58C88819-EA1B-4C18-8827-45EB0D719C20</key>
		<dict>
			<key>xpos</key>
			<integer>1190</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>5B97BF4E-6FA3-4BF7-9AB1-69B4BA2E4434</key>
		<dict>
			<key>xpos</key>
			<integer>1190</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>6514E3EF-7AFF-49B1-B71B-3CD234A2FFC5</key>
		<dict>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>70ECD1E1-3183-4CC6-AAE7-DA6E1E21DE87</key>
		<dict>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>7CD1813F-FDCF-4F8A-B25E-3BE6180230A3</key>
		<dict>
			<key>xpos</key>
			<integer>730</integer>
			<key>ypos</key>
			<integer>530</integer>
		</dict>
		<key>7DD3BDE5-A157-42E5-9376-F681FB50A4EE</key>
		<dict>
			<key>xpos</key>
			<integer>770</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>88F88237-F968-4E03-841A-25412848B257</key>
		<dict>
			<key>xpos</key>
			<integer>1230</integer>
			<key>ypos</key>
			<integer>530</integer>
		</dict>
		<key>89DE4450-CEC9-45C0-B10D-2CFE15E85A21</key>
		<dict>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>380</integer>
		</dict>
		<key>8AFEBE96-B1B2-4523-AFE0-2BBF7B3DBEB3</key>
		<dict>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>260</integer>
		</dict>
		<key>91C708CB-85F6-493A-B8AB-BF52D3F5E893</key>
		<dict>
			<key>xpos</key>
			<integer>1230</integer>
			<key>ypos</key>
			<integer>410</integer>
		</dict>
		<key>A1C53C44-B1B2-4562-B519-0A3269F89BB3</key>
		<dict>
			<key>xpos</key>
			<integer>950</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>AC554D51-F77A-4E4B-8440-0AF22B694539</key>
		<dict>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>620</integer>
		</dict>
		<key>AF915663-530F-4A49-ABD8-3649E9DA17BA</key>
		<dict>
			<key>xpos</key>
			<integer>430</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>B967E23E-9946-49E5-AB48-A76D78DD08B4</key>
		<dict>
			<key>xpos</key>
			<integer>1070</integer>
			<key>ypos</key>
			<integer>410</integer>
		</dict>
		<key>B9CBA9DA-83D3-4BA3-9E5F-2DED5BA6AA4B</key>
		<dict>
			<key>xpos</key>
			<integer>440</integer>
			<key>ypos</key>
			<integer>440</integer>
		</dict>
		<key>C701C43E-3BB9-42F8-9680-9005CEB8DBDA</key>
		<dict>
			<key>xpos</key>
			<integer>910</integer>
			<key>ypos</key>
			<integer>530</integer>
		</dict>
		<key>C70E944D-350B-438D-89CE-3E3D7EB83A77</key>
		<dict>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>260</integer>
		</dict>
		<key>CD96DC77-C0A6-4DD0-82DB-B7C5FD88028A</key>
		<dict>
			<key>xpos</key>
			<integer>1110</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
		<key>CDB8C1D9-4AD9-4B73-8B72-4497D3CAB5F1</key>
		<dict>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>860</integer>
		</dict>
		<key>D09171DB-843B-4730-B2F5-05A994B643BB</key>
		<dict>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>740</integer>
		</dict>
		<key>EF4A1D93-0687-4738-8A81-46C91DFF2DDF</key>
		<dict>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>F0754C94-B143-4994-9ABA-FC8C5C237AED</key>
		<dict>
			<key>xpos</key>
			<integer>770</integer>
			<key>ypos</key>
			<integer>280</integer>
		</dict>
		<key>FDB07C25-C80A-4347-BA2C-E20BA1BC9BCB</key>
		<dict>
			<key>xpos</key>
			<integer>770</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>FEC20C12-3ED7-4CF1-B79C-3799519F8520</key>
		<dict>
			<key>xpos</key>
			<integer>910</integer>
			<key>ypos</key>
			<integer>410</integer>
		</dict>
		<key>FF3CC7D9-1E4F-4F2D-80DA-6B70EC23DF63</key>
		<dict>
			<key>xpos</key>
			<integer>950</integer>
			<key>ypos</key>
			<integer>280</integer>
		</dict>
	</dict>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string>https://github.com/vmitchell85/alforge</string>
</dict>
</plist>
